@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

:root {
	--cadet-blue: #9fa5c0;
	--charade: #2f2e41;
	--dark-orange: #e15c38;
	--green: #34c300;
	--gun-powder: #3f3f56;
	--light-gray: #d3d3d3;
	--orange: #ec6e4c;
	--red: #ff0000;
	--saffron: #f5d23b;
	--sandy-brown: #f2a65a;
	--tall-poppy: #b2272b;
}

* {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
}

h2 {
	color: var(--orange);
	font-weight: 700;
	margin: 0 0 10px 0;
	text-align: center;
	text-transform: uppercase;
}

body {
	padding:
		env(safe-area-inset-top, 0px)
		env(safe-area-inset-right, 0px)
		env(safe-area-inset-bottom, 0px)
		env(safe-area-inset-left, 0px);
		font-size: 20px;
}

.inline {
	display: inline;
}