.curved {
	align-items: center;
	display: flex;	
	height: 30vh;
	justify-content: center;
	overflow: hidden;
	padding: 50px;
	position: relative;
	width: 100%;
}

.curved::before {
	background: linear-gradient(to right, var(--orange), #f2a65a);
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: scaleX(1.5);
	width: 100%;
	z-index: -1;
}

h1 {
	color: white;
	font-size: 2rem;
	margin-bottom: 1rem;
	text-align: center;
	width: 900px;
}

form {
	padding: 60px 10vw;
}

a {
	margin-top: 25px;
	display: block;
	text-align: center;
}

#sign-up {
	margin-top: 40px;
}