#quick-weather {
	align-items: center;
	background-image: url("../img/weather/clear-sky.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	text-align: center;
}

.glassmorphism {
	-webkit-backdrop-filter: blur(25px) saturate(200%);
	backdrop-filter: blur(25px) saturate(200%);
	background-color: rgba(255, 255, 255, 0.36);
	border-radius: 12px;
	border: 1px solid rgba(209, 213, 219, 0.3);
	display: inline-block;
}

#quick-weather .glassmorphism {
	margin-top: calc(10vh - 20px);
	padding: 20px 50px;
}

#temperature {
	color: var(--charade);
	font-size: 40px;
	font-weight: bold;
}

#description {
	font-size: 20px;
}

#weather-details {
	background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(252,128,89),rgb(252,116,73));
	color: #fff;
}

.label {
	color: var(--gun-powder);
}

path {
	fill: transparent;
}

text {
	fill: #fff;
}

textPath {
	font-family: "Luckiest Guy", cursive !important;
	font-size: 35px;
}

#sunrise-sunset {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

#weather-details table {
	width: 100%;
	border-collapse: collapse;
}

#weather-details table th,
#weather-details table td {
	width: 50%;
}

#weather-details table th {
	text-align: left;
	font-weight: normal;
	color: var(--gun-powder);
}

#weather-details table td {
	font-size: 30px;
}

#weather-details table tr:nth-child(even) td {
	padding-bottom: 30px;
}

#weather-details table tr:nth-child(odd):not(:first-of-type) th {
	padding-top: 30px;
	border-top: 1px solid #fff;
}

#weather-details table tr th:first-child,
#weather-details table tr td:first-child {
	border-right: 1px solid #fff;
}

#weather-details table tr th:nth-child(1),
#weather-details table tr td:nth-child(1) {
	padding-right: 20px;
}

#weather-details table tr th:nth-child(2),
#weather-details table tr td:nth-child(2) {
	padding-left: 20px;
}