header {
	align-items: center;
	background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
	box-shadow: 0 4px 2px -2px gray;
	display: flex;
	height: 70px;
	justify-content: space-between;
	padding: 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}

header a {
	text-decoration: none;
}

header .fas {
	color: var(--dark-orange);
	font-size: 20px;
}

header .data p {
	margin: 0;
	text-align: center;
}

#location {
	border-top: 1px solid var(--orange);
	color: var(--charade);
	font-family: "Baloo 2", sans-serif;
	font-size: 28px;
	font-weight: 700;
	line-height: 30px;
	margin-top: 2px;
	margin: 0;
	text-transform: uppercase;
}

nav {
	background-attachment: fixed;
	background-image: url("../img/menu-background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top: 1px solid var(--charade);
	height: 100vh;
	margin-right: 0;
	opacity: 0;
	position: fixed;
	text-align: center;
	top: 70px;
	transition: all 0.5s;
	transition: visibility 0s, opacity 0.5s linear;
	visibility: hidden;
	width: 100%;
	z-index: 30;
}

nav ul li {
	display: block;
	margin: 30px 0;
}

nav ul li a {
	padding: 7px 25px;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--charade);
	font-size: 27px;
	font-family: "Dosis";
}

#check-menu {
	display: none;
	color: var(--orange);
}

.menu-lines,
.menu-lines::before,
.menu-lines::after {
	background-color: var(--orange);
	border-radius: 5px;
	box-shadow: 0 2px 5px gray;
	height: 5px;
	transition: all 0.5s ease-in-out;
	width: 30px;
}

.menu-lines::before,
.menu-lines::after {
	content: "";
	display: block;
	position: absolute;
}

.menu-lines::before {
	transform: translateY(-10px);
}

.menu-lines::after {
	transform: translateY(10px);
}

#check-menu:checked ~ label > .menu-lines {
	background-color: transparent;
	box-shadow: none;
	transform: translateX(-50px);
}

#check-menu:checked ~ label .menu-lines::before {
	box-shadow: none;
	transform: rotate(45deg) translate(35px, -35px);
}

#check-menu:checked ~ label .menu-lines::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

.active {
	text-decoration: underline;
}

section {
	padding: 80px 50px;
}

#quick-weather {
	align-items: center;
	/*background-attachment: fixed;*/
	background-image: url("../img/weather/clear-sky.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	text-align: center;
}

.glassmorphism {
	-webkit-backdrop-filter: blur(25px) saturate(200%);
	backdrop-filter: blur(25px) saturate(200%);
	background-color: rgba(255, 255, 255, 0.36);
	border-radius: 12px;
	border: 1px solid rgba(209, 213, 219, 0.3);
	display: inline-block;
}

#quick-weather .glassmorphism {
	margin-top: 10vh;
	padding: 20px 50px;
}

#temperature {
	color: var(--charade);
	font-size: 40px;
	font-weight: bold;
}

#description {
	font-size: 20px;
}

#weather-details {
	background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(252,128,89),rgb(252,116,73));
	color: #fff;
}

.label {
	color: var(--gun-powder);
}

path {
	fill: transparent;
}

text {
	fill: #fff;
}

textPath {
	font-family: "Luckiest Guy", cursive !important;
	font-size: 35px;
}

#sunrise-sunset {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

#weather-details table {
	width: 100%;
	border-collapse: collapse;
}

#weather-details table th,
#weather-details table td {
	width: 50%;
}

#weather-details table th {
	text-align: left;
	font-weight: normal;
	color: var(--gun-powder);
}

#weather-details table td {
	font-size: 30px;
}

#weather-details table tr:nth-child(even) td {
	padding-bottom: 30px;
}

#weather-details table tr:nth-child(odd):not(:first-of-type) th {
	padding-top: 30px;
	border-top: 1px solid #fff;
}

#weather-details table tr th:first-child,
#weather-details table tr td:first-child {
	border-right: 1px solid #fff;
}

#weather-details table tr th:nth-child(1),
#weather-details table tr td:nth-child(1) {
	padding-right: 20px;
}

#weather-details table tr th:nth-child(2),
#weather-details table tr td:nth-child(2) {
	padding-left: 20px;
}