#loading {
	align-items: center;
	background-color: #fff;
	display: flex;
	height: 100vh;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 40;
}

#loading img {
	height: 50vh;
}