* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding:
        env(safe-area-inset-top, 0px)
        env(safe-area-inset-right, 0px)
        env(safe-area-inset-bottom, 0px)
        env(safe-area-inset-left, 0px);
}